<footer class="alignfull">
    {% include "dirt" %}
    <div class="footer-content alignwide">
        <div>
        {% include "logo-monochrome-light" %}
        </div>
        <div>
            <ul class="footer-links">
                <li><a href="tel:+18025555555">{% icon 'phone-fill.svg' %}  (802) 555-5555</a></li>
                <li><a href="#">{% icon 'facebook-circle-fill.svg' %} Facebook</a></li>
            </ul>
        </div>
        <div class="copyright">
        <hr>
        <p>&copy; 2022: Letourneau Civil Construction LLC.</p>
        </div>
    </div>
</footer>