<header class="nav">
	<nav>
		<div class="nav-list">
			<ul class="layout-wrapper">
				<li>
					<a href="home">
						Home
					</a>
				</li>
				<li>
					<a href="/home#about-us">
						Blog
					</a>
				</li>
				<li>
					<a href="/home#projects">
						Projects
					</a>
				</li>
				<li>
					<a href="/contact">
						Contact
					</a>
				</li>
			</ul>
		</div>
	</nav>
</header>